{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["jsx-a11y", "prettier", "filenames"],
  "rules": {
    "filenames/match-exported": 2,
    "filenames/no-index": 2,
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "semi": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}